<div class="sideMenu-container">
    <div class="side-bar-logo">
        <h3>منظومة شئون العاملين</h3>
    </div>

   
        <ul class="side-bar-menu">
            <li class="side-bar-menu-item">
                <span class="glyphicon glyphicon-user icon"></span>
                <a href="~/Employe">العامين</a>
            </li>
        </ul>
</div>
