.cTable{
    width:100%;
}



.cTable td,th
{
    padding:12px;
    text-align:right;
}

    .cTable tr {
        border-bottom: 1px solid rgb(128, 128, 128);
    }

    .cTable tr:last-child {
        border-bottom: none;
    }

