
@{
    ViewBag.Title = "العاملين";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="ccard">
     <div class="ccard-header">
         <h4>العاملين بالمنظومة</h4>
         <a class="cButton" href="~/Employe/new">اضافة موظف جديد</a>
     </div>
    <div class="ccard-body">

        <table class="cTable">
            <thead>
                <tr>
                    <th>م</th>
                    <th>اسم</th>
                    <th>عنوان</th>
                    <th>رقم تليفون</th>
                    <th>نوع التعاقد</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>شيماء محمد عبدالعزيز محمد</td>
                    <td>22ش كامل الجزار ــ امام سنترال المطرية ــ عين شمس الغربية</td>
                    <td>01000210654</td>
                    <td>مثبت</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

